/config
/config.log
/config.status
/configure
/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/configure
/m4
/libtool
/rtmidi-config
/rtmidi.pc
/.deps/
/doc/Makefile.in
/doc/Makefile
/doc/doxygen/Doxyfile
/tests/Makefile.in
/tests/Makefile
/tests/.deps/