/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/
/configure
/doc/Makefile
/doc/Makefile.in
/doc/doxygen/Doxyfile
/libtool
/m4/
/rtmidi-config
/rtmidi.pc
/tests/.deps/
/tests/Makefile
/tests/Makefile.in
*.o
*.la
*.lo
.libs
/doc/doxygen-build.stamp
/doc/html/
/tests/cmidiin
/tests/midiclock_in
/tests/midiclock_out
/tests/midiout
/tests/midiprobe
/tests/qmidiin
/tests/sysextest
